<br>
<div class="row">
  <div class="col-12">
    <img src="" alt="" class="img-fluid">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h4>Recipe</h4>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="dropdown">
      <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Manage Recipe
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Add Ingredients from shopping list</a>
        <a class="dropdown-item" href="#">Edit Recipe</a>
        <a class="dropdown-item" href="#">Delete Recipe</a>
      </div>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-12">
    <h5>Description</h5>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h5>Ingredients</h5>
  </div>
</div>
